.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck/
*.tar.gz

# frontend
frontend/node_modules/
frontend/dist/
frontend/bun.lockb.bak
frontend/test-results/
frontend/playwright-report/

# editor / OS
.DS_Store
